@import 'style/constants';

.node_discovered {
  background-color: $yellow;
}

.node_visited {
  background-color: $orange-light;
}

.node_active {
  background-color: $green;
}

.colorKey {
  margin-bottom: 5px;
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}
