@import 'style/constants';

.node {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 2px solid $blue;
  box-shadow: 0 0 3px 1px $gray-light;
  display: flex;
  justify-content: center;
  z-index: 10;

  height: 50px;
  width: 50px;
}
