@import 'style/constants';

.node {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 2px solid $blue;
  box-shadow: 0 0 3px 1px $gray-light;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: top 50ms ease-out, left 50ms ease-out, box-shadow 100ms;
  z-index: 10;

  &:hover {
    box-shadow: 0 0 5px 2px $gray-light;
  }
}

.node_discovered {
  background-color: $yellow;
}

.node_visited {
  background-color: $orange-light;
}

.node_active {
  background-color: $green;
}
