$red: #f94144ff;
$orange: #f3722cff;
$orange-light: #f8961eff;
$yellow: #f9c74fff;
$green: #90be6dff;
$teal: #43aa8bff;
$blue: #577590ff;
$gray-light: #d5d9d8ff;
$white-background: #fbf9f6ff;
$gray-background: #e3e2e1ff;